/* Variables */
$dark-gray: #1b1e23;
$gunmetal-gray: #2b343d;
$steel-gray: #c5c6c7;
$cool-gray: #4b5358;
$neon-blue: #66b6fc;
$electric-pink: #fc466b;
$emerald-green: #3ddc84;
$header-height: 5em;
$mobile-screen: 600px;

/* Base Styles */
body {
  background-color: $dark-gray;
  color: $steel-gray;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

header {
  //background-color: $dark-gray;
  background-color: $gunmetal-gray;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: $steel-gray;
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  border-bottom: 15px solid $dark-gray;
  height: 5em;
  padding: 0 3em;

  .mobile-menu-toggle {
    display: none;
    font-size: 2.5em;
    margin-left: auto;

    @media screen and (max-width: $mobile-screen) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: $steel-gray;
    text-decoration: none;
    transition: color 0.1s;

    &.active {
      color: $cool-gray;
      border-bottom: 2px solid $neon-blue;
    }

    &:not(.dropbtn):hover {
      color: $neon-blue;
    }
  }

  #logo {
    color: $steel-gray;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    line-height: 1;
    letter-spacing: 0.13em;
    padding: 0;
    margin: 0;

    span {
      color: $neon-blue;
    }
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    margin-left: 3em;

    @media screen and (max-width: $mobile-screen) {
      position: fixed;
      top: 5em;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $gunmetal-gray;
      flex-direction: column;
      padding: 1em;
      z-index: 999;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;

      &.open {
        opacity: 1;
        pointer-events: auto;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-align: center;
      white-space: nowrap;

      @media screen and (min-width: $mobile-screen) {
        margin: 0 1em;
      }

      @media screen and (max-width: $mobile-screen) {
        margin: 1em;
      }

      &.dropbtn {
        cursor: default;
        @media screen and (min-width: $mobile-screen) {
          height: $header-height;
        }
        box-sizing: border-box;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;

      &.hovered {
        .dropdown-content {
          pointer-events: auto;
          opacity: 1;
          max-height: 100vh;
        }
      }

      .dropdown-content {
        display: block;
        opacity: 0;
        pointer-events: none;
        background-color: $gunmetal-gray;
        z-index: 1;
        transition: opacity 0.2s, height 0.2s;

        @media screen and (min-width: $mobile-screen) {
          position: absolute;
          top: 100%;
          left: 0;
          width: 13em;
          border-radius: 0 0 1em 1em;
          border: 1px solid $dark-gray;
          border-top: 0;
          transition: opacity 0.2s;
          padding-bottom: 0.5em;

          > a:first-child {
            margin-top: 0;
          }
        }

        @media screen and (max-width: $mobile-screen) {
          max-height: 0;
          margin: 1em 0 0 2em;
          border-left: 1px solid $steel-gray;
        }

        //noinspection CssReplaceWithShorthandSafely
        a {
          margin: 0.7em;
          margin-left: 1em;
          @media screen and (max-width: $mobile-screen) {
            margin: 1em;
          }
        }

        form {
          padding: 0 1em;
          text-align: left;
        }

        .separator {
          position: relative;
          width: 100%;
          padding: 0.5em 0 0.5em 1em;
          color: $cool-gray;
          box-sizing: border-box;
          text-align: left;

          &::after {
            position: absolute;
            top: 50%;
            content: "";
            display: block;
            height: 1px;
            background-color: $cool-gray;
            width: 5em;
          }

          &::after {
            right: 0;
          }
        }
      }
    }
  }
}

main {
  flex: 1;
  padding: 20px;

  a, a:visited, a:active, a:link {
    color: $neon-blue;
    text-decoration: none;

    &:hover {
      color: lighten($neon-blue, 10%);
    }
  }
}

h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 0 0 1em ;
  padding: 0;
}

.content-text ul {
  list-style-type: disc;
}

footer {
  background-color: $gunmetal-gray;
  color: $steel-gray;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.danger {
  color: red;
}

.info {
  color: $neon-blue;
}

.warning {
  color: $electric-pink;
}

.success {
  color: $emerald-green;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;

  .movie-item {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    outline: 2px solid transparent;
    transition: outline-color 0.25s ease;
    aspect-ratio: 500 / 741;
    max-width: 300px;

    @media screen and (max-width: $mobile-screen) {
      aspect-ratio: 2 / 3;
      max-width: 100%;
      width: 100%;
    }

    &.has-no-poster {
      background-color: $gunmetal-gray;
      border: 1px solid $cool-gray;
      color: $steel-gray;
    }

    .no-poster {
      display: block;
      text-align: center;
      position: relative;
      top: 30%;
      padding: 1em;
    }

    &.decided {
      &::after {
        opacity: 0.75;
      }

      &.decided-approve {
        outline-color: #0f0;
      }

      &.decided-disapprove {
        outline-color: #f00;
      }

      &.decided-maybe {
        outline-color: #00f;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      pointer-events: none;
      background-color: #000;
      transition: opacity 0.25s ease;
    }

    .movie-poster {
      width: 100%;
      display: block;
      transition: opacity 0.5s ease;
    }

    &.hovered .overlay {
      opacity: 1;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: opacity 0.3s ease;

      > a,
      > .decide > * {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      > a {
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 1px black;
        text-align: center;
        flex: 1 1 auto;
      }

      .decide {
        cursor: pointer;
        font-size: 2em;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: solid;
        border-left-style: none;
        border-color: rgba(255, 255, 255, 0.2);
        border-width: 1px;
        flex: 0 0 20%;

        > * {
          flex: 1 1 33%;
        }
      }
    }
  }
}

form {
  margin-bottom: 1em;

  .form-row {
    margin: 0.6em 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 25em;

    &.checkbox {
      margin: 1em 0;
    }

    button {
      width: 30%;
      flex: 0 0 auto;
      margin-left: auto;
    }

    div {
      flex-basis: 100%;
      font-size: 0.8em;
      font-style: italic;
      margin-left: 6.5rem;
    }
  }

  label {
    width: 6rem;
    padding-right: 0.5em;
    text-align: right;
    flex: 0 0 auto;
  }


  input, select {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 5px;
    min-width: 0;
    border-radius: 4px;
    background-color: $cool-gray;
    color: $steel-gray;
    border: none;
    position: relative;
    height: 2.5em;
    top: -7px;

    &[type="checkbox"] {
      position: relative;
      top: 0;
      height: auto;
      flex: 0 0 auto;
      padding: 0;
      margin: 0;

      + label {
        text-align: left;
        width: auto;
        margin-right: 1em;
        margin-left: 0.25em;
      }
    }
  }
}

button {
  background-color: $cool-gray;
  color: $steel-gray;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: $neon-blue;
    color: $dark-gray;
  }

  &.danger {
    background-color: #f00;
    color: white;
  }

  &#delete-all-data {
    margin-top: 7em;
  }
}

.profile-message {
  color: $neon-blue;
  margin: 1em 1em 4em;

  button {
    margin-top: 1em;
  }
}

ul.release-list li {
  margin: 0.6em 0;
  background-color: $cool-gray;
  border-radius: 5px;
  position: relative;
  padding: 0;

  a {
    padding: 0.6em;
    display: block;
    color: $steel-gray;
    text-decoration: none;
  }

  &.maybe {
    background-color: darken($cool-gray, 10%);

    a {
      color: darken($steel-gray, 10%);
    }
  }
}

#calendar {
  max-width: 1500px;
}

#tmdb-logo {
  height: 1em;
}