alembic
APScheduler
Babel
Flask-APScheduler
Flask-Assets
Flask-Babel
Flask-Bcrypt
Flask-Caching
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-Script
PyJWT
PyMySQL
PyYAML
SQLAlchemy
crawlerdetect
cryptography
flask
flask-redis
icalendar
libsass
natsort
pillow
py-vapid
pywebpush
pytest
requests
uuid
werkzeug
