<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}cinetag.it{% endblock %}</title>
    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="{{ url_for('static', filename='js/base.js') }}?v={{ static_version }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/svg" sizes="any">
    <script>
        window.CineTagIt = window.CineTagIt || {};
        window.CineTagIt.language = '{{ current_user.language if current_user and current_user.language else 'en' }}';
        window.CineTagIt.initialFlashedMessages = {{ get_flashed_messages(with_categories=true)|tojson }};
    </script>
    {% block scripts %}{% endblock %}
</head>
<body>
<header>
    <h1 id="logo"><a href="/"><span>cine</span>&thinsp;tag&thinsp;it</a></h1>
    {% include '_navigation.html' %}
</header>
<main>
    <div id="flash-messages-container"></div>
    {% block content %}{% endblock %}
</main>
<footer>
    <a href="{{ url_for('html.why') }}">Why?</a>
    <a href="{{ url_for('html.how') }}">How?</a>
    <a href="{{ url_for('html.who') }}">Who?</a>
    <a href="{{ url_for('html.imprint') }}">Imprint / legal infos</a>
    <a href="{{ url_for('html.privacy') }}">Privacy policy</a>
</footer>
</body>
</html>
