<a class="mobile-menu-toggle">☰</a>
<nav>
    <a href="{{ url_for('html.get_movies', filter_mode="all") }}">All movies</a>
    {% if current_user %}
        <div class="dropdown hoverable">
            <a href="#" class="dropbtn">My movies</a>
            <div class="dropdown-content">
                <a href="{{ url_for('html.get_movies', filter_mode="pending") }}">❔ Not yet tagged</a>
                <a href="{{ url_for('html.get_movies', filter_mode="approved") }}">👍️ Must see</a>
                <a href="{{ url_for('html.get_movies', filter_mode="maybe") }}">🤷 Maybe</a>
                <a href="{{ url_for('html.get_movies', filter_mode="disapproved") }}">👎 Definitely not</a>
            </div>
        </div>
        <div class="dropdown hoverable">
            <a href="#" class="dropbtn">My releases</a>
            <div class="dropdown-content">
                {% if current_user %}
                    <a href="{{ url_for('html.get_user_release_dates') }}">As a list</a>
                    <a href="{{ url_for('html.get_user_calendar') }}">As a calendar</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="dropdown hoverable">
        <a href="#" class="dropbtn">User</a>
        <div class="dropdown-content">
            <a href="{{ url_for('html.profile') }}">Profile</a>
            {% if not current_user or not current_user.email %}
                <a href="{{ url_for('html.login') }}">Login</a>
                <a href="{{ url_for('html.register') }}">Register</a>
            {% else %}
                <form method="POST" action="{{ url_for('html.logout') }}">
                    <input type="hidden" name="csrf_token">
                    <button type="submit">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>