{% extends "_base.html" %}

{% block title %}About cinetag.it{% endblock %}

{% block content %}
    <div class="content-text">
        <h2>Why?</h2>
        <p>Ever thought "Damn, that movie is already in the theaters? It already stopped playing?"</p>
        <p>I did. So I wanted a tool to help me remember when interesting movies would be released.</p>
        <p>This tool is free for anyone to use. No data is collected for marketing purposes or sold to
            third parties or anything.</p>
    </div>
{% endblock %}
