<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}cinetag.it{% endblock %}</title>
    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="{{ url_for('static', filename='js/csrf.js') }}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
<header>
 {% include 'navbar.html' %}
</header>
<main>
    {% if get_flashed_messages(with_categories=true) %}
        <ul>
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}{% endblock %}
</main>
</body>
</html>
