{% extends "_base.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}
    <h2>Calendar</h2>
    <div id="calendar"></div>
{% endblock %}

{% block scripts %}
    {% set lang = current_user.language or 'en' %}
    <script defer src="{{ url_for('static', filename='vendor/fullcalendar/index.global.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='vendor/fullcalendar/locales/' + lang + '.global.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}