{% extends "_base.html" %}

{% block title %}How?{% endblock %}

{% block content %}
    <div class="content-text">
        <h2>How?</h2>
        <p>Start with <a href="/movies">Browse</a>. Every movie can be tagged with 👍️, 🤷 and 👎. </p>
        <ul>
            <li>👍️ You want to see this movie (movies will be marked with a green border)</li>
            <li>🤷 You might want to see this movie (blue border)</li>
            <li>👎️ You don't want to see this movie (red border)</li>
        </ul>
        <p>Once you've tagged a few movies with 👍️, you can check out <a href="/releases">your releases</a>,
            also available as a <a href="/releases?view=calendar">calendar</a>.</p>
        <p>Feel free to find your way around and discover things, like your personal lists, e-mail (and other) notifications, etc.</p>
        <p>Please note that for technical reasons, some features (like notifications) are only available after creating a user account.</p>
    </div>
{% endblock %}
