{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block content %}
    <h2>Interesting movies</h2>
    <div class="movie-grid">
        {% for movie in movies %}
            <div class="movie-item" id="movie-{{ movie.id }}">
                <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
                     alt="{{ movie.title }}"
                     class="movie-poster" loading="lazy">
                <div class="overlay">
                    <span class="decide approve" data-movie-id="{{ movie.id }}">✔</span>
                    <span class="decide disapprove"
                          data-movie-id="{{ movie.id }}">✘</span>
                    <a class="details-link"
                       href="{{ url_for('html.get_movie_details', movie_id=movie.id) }}">{{ movie.title }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/movies.js') }}"></script>
{% endblock %}