{% extends "_base.html" %}

{% if filter_mode == 'approved' %}
    {% set title = 'Interesting movies' %}
{% elif filter_mode == 'disapproved' %}
    {% set title = 'Boring movies' %}
{% elif filter_mode == 'maybe' %}
    {% set title = "Movies you don't really know about" %}
{% elif filter_mode == 'pending' %}
    {% set title = 'Movies to tag' %}
{% elif filter_mode == 'all' %}
    {% set title = 'All upcoming movies' %}
{% else %}
    {% set title = 'Movies' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% set always_show_decisions = filter_mode == 'all' %}

{% block content %}
    <h2>{{ title }}</h2>

    <div class="movie-filters">
        <div class="filter-group">
            <input type="text" id="name-filter" placeholder="Filter by name..." class="form-control">
        </div>
    </div>

    <div class="movie-container movie-grid movie-grid-{{ filter_mode }}" data-filter-mode="{{ filter_mode }}">
        <!-- Movies will be dynamically loaded here -->
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/movies.js') }}"></script>
{% endblock %}
