{% extends "base.html" %}

{% if filter_mode == 'approved' %}
    {% set title = 'Interesting movies' %}
{% elif filter_mode == 'disapproved' %}
    {% set title = 'Boring movies' %}
{% else %}
    {% set title = 'Movies to tag' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <div class="movie-grid movie-grid-{{ filter_mode }}">
        {% for movie in movies %}
            {% set movie_link = url_for('html.get_movie_details', movie_id=movie.id) %}
            <div class="movie-item" id="movie-{{ movie.id }}">
                <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
                     alt="Poster for {{ movie.title }}"
                     class="movie-poster"
                     loading="lazy"/>
                <div class="overlay">
                    <a class="details-link" href="{{ movie_link }}">{{ movie.title }}</a>
                    <span class="decide approve" data-movie-id="{{ movie.id }}">✔</span>
                    <span class="decide disapprove" data-movie-id="{{ movie.id }}">✘</span>
                    <a class="details-link" href="{{ movie_link }}">{{ movie.release_date }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/movies.js') }}"></script>
{% endblock %}