<nav>
    <h1 id="logo"><a href="/">cinetag.it</a></h1>
    <div class="dropdown">
        <a href="#" class="dropbtn">Movies</a>
        <div class="dropdown-content">
            <a href="{{ url_for('html.get_movies', filter_mode="all") }}">All movies</a>
            <div class="separator">Your movies</div>
            <a href="{{ url_for('html.get_movies', filter_mode="pending") }}">❔ Untagged moves</a>
            <a href="{{ url_for('html.get_movies', filter_mode="approved") }}">👍️ Yeah movies</a>
            <a href="{{ url_for('html.get_movies', filter_mode="maybe") }}">🤷 Maybe movies</a>
            <a href="{{ url_for('html.get_movies', filter_mode="disapproved") }}">👎 Nope Movies</a>
        </div>
    </div>
    <a href="{{ url_for('html.profile') }}">Profile</a>
</nav>