{% extends "_base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h2>Profile</h2>

    {% if user.temporary_user_id %}
        <div class="profile-message">
            Do you want to import the decisions you made before you logged in?
            <form action="{{ url_for('html.merge_temporary_user') }}" method="post" accept-charset="UTF-8"
                  enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="csrf_token">
                <div class="form-row">
                    <button name="merge" value="merge" type="submit">Import pre-login data</button>
                    <button name="delete" value="delete" type="submit" class="danger">Delete pre-login data</button>
                </div>
            </form>
        </div>
    {% endif %}

    {% if user.new_email %}
        <div class="profile-message">
            Your Email address is not confirmed yet, please check your inbox.
            You won't be able to login until you confirm your email address.
            If you don't see the email, you can request a new one:
            <form action="{{ url_for('html.request_confirmation_email') }}" method="post" accept-charset="UTF-8"
                  enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="csrf_token">
                <button name="logout" type="submit">Request new confirmation mail</button>
            </form>
        </div>
    {% endif %}

    <!-- Update profile -->
    <h3>Update your profile data</h3>
    <form method="POST" action="{{ url_for('html.profile') }}" accept-charset="UTF-8"
          enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="csrf_token">
        {% if user.email %}
            {% if  user.new_email %}
                <div class="form-row">
                <span>
                    Changing the email address to <strong>{{ user.new_email }}</strong> is pending.
                    Please confirm the new email address.
                </span>
                </div>
            {% endif %}
            <div class="form-row">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ form_data["email"] }}"/>
            </div>
            <div class="form-row">
                <label for="new_password">Password:</label>
                <input type="password" id="new_password" name="new_password"/>
            </div>
        {% endif %}
        <div class="form-row">
            <label for="display_name">Display Name:</label>
            <input type="text" id="display_name" name="display_name" value="{{ form_data["display_name"] }}"/>
        </div>
        <div class="form-row">
            <label for="language">Language:</label>
            <select id="language" name="language" required>
                {% for code in languages %}
                    {% set disabled = "disabled" if not code else "" %}
                    <option value="{{ code }}" {{ disabled }} {% if code == form_data["language"] %}selected{% endif %}>
                        {{ languages[code] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-row">
            <label for="region">Region:</label>
            <select id="region" name="region" required>
                {% for code in regions %}
                    {% set disabled = "disabled" if not code else "" %}
                    <option value="{{ code }}" {{ disabled }} {% if code == form_data["region"] %}selected{% endif %}>
                        {{ regions[code] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="password-confirmation">
            <div class="form-row">
            <span>
                To change your email address or your password, you need to enter your current password.
            </span>
            </div>
            <div class="form-row">
                <label for="current_password">Current password:</label>
                <input type="password" id="current_password" name="current_password"/>
            </div>
        </div>
        <div class="form-row">
            <button type="submit">Save</button>
        </div>
    </form>

    <!-- Calendar URLs -->
    <h3>Calendar URLs</h3>
    <p>You can add these URLs to your calendar application to automatically sync your movie releases.</p>

    {% set ns = namespace(wanted_hash=None, maybe_hash=None, all_hash=None) %}

    {% for calendar in user.calendars %}
        {% if calendar.calendar_type == 'wanted' %}
            {% set ns.wanted_hash = calendar.calendar_hash %}
        {% elif calendar.calendar_type == 'maybe' %}
            {% set ns.maybe_hash = calendar.calendar_hash %}
        {% elif calendar.calendar_type == 'all' %}
            {% set ns.all_hash = calendar.calendar_hash %}
        {% endif %}
    {% endfor %}

    {% set has_calendars = ns.wanted_hash and ns.maybe_hash and ns.all_hash %}

    {% if has_calendars %}
        <div class="calendar-urls">
            <div class="calendar-url-wrapper">
                <div class="calendar-type">Wanted 👍 Movies:</div>
                <div class="calendar-url" id="calendar-wanted">
                    {{ url_for('html.get_ics_calendar', calendar_hash=ns.wanted_hash, _external=True) }}
                </div>
                <button class="calendar-copy-button copy-button" data-clipboard-target="#calendar-wanted">Copy URL
                </button>
            </div>
            <div class="calendar-url-wrapper">
                <div class="calendar-type">Maybe 🤷 Movies:</div>
                <div class="calendar-url" id="calendar-maybe">
                    {{ url_for('html.get_ics_calendar', calendar_hash=ns.maybe_hash, _external=True) }}
                </div>
                <button class="calendar-copy-button copy-button" data-clipboard-target="#calendar-maybe">Copy URL
                </button>
            </div>
            <div class="calendar-url-wrapper">
                <div class="calendar-type">All 👍+🤷 Movies:</div>
                <div class="calendar-url" id="calendar-all">
                    {{ url_for('html.get_ics_calendar', calendar_hash=ns.all_hash, _external=True) }}
                </div>
                <button class="calendar-copy-button copy-button" data-clipboard-target="#calendar-all">Copy URL</button>
            </div>
        </div>
    {% else %}
        <p>You don't have any calendar URLs yet. Click the button below to generate them.</p>
    {% endif %}
    <div class="regenerate-calendar-urls-wrapper">
        <button id="regenerate-calendar-hashes" class="post-button needs-confirmation"
                data-url="{{ url_for('api.reset_calendar_hashes') }}"
                data-confirmation-message="Are you sure you want to reset your calendar URLs? This will invalidate any existing calendar subscriptions.">
            Generate Calendar URLs
        </button>
    </div>

    <!-- Delete all data -->
    <div class="danger-zone">
        <h4>Danger zone</h4>
        <form method="POST" action="{{ url_for('html.delete_data') }}" accept-charset="UTF-8"
              enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="csrf_token">
            <button id="delete-all-data" type="submit" name="delete_data" class="danger needs-confirmation"
                    data-confirmation-message="Are you sure you want to delete all your data?">
                Delete all my data
            </button>
        </form>
    </div>
{% endblock %}
