{% extends "_base.html" %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <h2>Notifications</h2>

    {% if user.temporary_user_id %}
        <div class="profile-message">
            To be able to set up notifications, please log in or register.
        </div>
    {% endif %}

    <form method="POST" action="{{ url_for('html.profile_notifications') }}" accept-charset="UTF-8"
          enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="csrf_token">
        <div class="form-row checkbox">
            <label>How?</label>
            {% for type in all_types %}
                <input id="type_{{ type }}" type="checkbox" name="type_{{ type }}" value="{{ type }}"
                       {% if type in user_types %}checked{% endif %}>
                <label for="type_{{ type }}">{{ all_types[type] }}</label>
            {% endfor %}
        </div>
        <div class="form-row">
            <label for="days">When?</label>
            <input type="text" id="days" name="days" value="{{ days }}" required>
            <div>Days in advance of the release date<br>Multiple values separated by comma</div>
        </div>

        <div class="form-row">
            <button type="submit">Save</button>
        </div>
    </form>

{% endblock %}
