{% extends "_base.html" %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <h2>Notifications</h2>

    {% if not user.email %}
        <div class="profile-message">
            To be able to set up e-mail notifications, please log in or register.
        </div>
    {% else %}
        <form method="POST" action="{{ url_for('html.profile_notifications') }}" accept-charset="UTF-8"
              enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="csrf_token">
            <!-- Invisible fields to store subscription data -->
            <input type="hidden" id="pushEndpoint" name="pushEndpoint">
            <input type="hidden" id="pushP256dh" name="pushP256dh">
            <input type="hidden" id="pushAuth" name="pushAuth">

            <h3>Email notifications</h3>
            <div class="form-row checkbox">
                <label></label>
                <input id="email_enabled" type="checkbox" name="email_enabled" value="1"
                       {% if email_enabled %}checked{% endif %}>
                <label for="email_enabled">Enable email notifications</label>
            </div>

            <div class="form-row">
                <label for="email_days">When?</label>
                <input type="text" id="email_days" name="email_days" value="{{ email_days }}" required>
                <div>Days in advance of the release date<br>Multiple values separated by comma</div>
            </div>

            <div class="form-row">
                <label>Which?</label>
                <input type="checkbox" id="email_with_maybe" name="email_with_maybe"
                       {% if email_with_maybe %}checked{% endif %}
                       value="1">
                <label for="email_with_maybe">Include 'Maybe' movies</label>
            </div>

            <div class="form-row">
                <button type="submit">Save</button>
            </div>
        </form>

    {% endif %}

    <form method="POST" action="{{ url_for('html.profile_notifications') }}" accept-charset="UTF-8"
          enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="csrf_token">

        <div class="form-row checkbox">
            <label>How?</label>
            {% for mode in all_modes %}
                <input id="mode_{{ mode }}" type="checkbox" name="mode_{{ mode }}" value="{{ mode }}"
                       {% if mode in user_modes %}checked{% endif %}>
                <label for="mode_{{ mode }}">{{ all_modes[mode] }}</label>
            {% endfor %}
        </div>

        <div class="form-row">
            <label for="days">When?</label>
            <input type="text" id="days" name="days" value="{{ days }}" required>
            <div>Days in advance of the release date<br>Multiple values separated by comma</div>
        </div>

        <div class="form-row">
            <label>Which?</label>
            <input type="checkbox" id="include_maybe_movies" name="include_maybe_movies"
                    {% if include_maybe_movies %}checked{% endif %}
                   value="1">
            <label for="include_maybe_movies">Include 'Maybe' movies</label>
        </div>

        <div class="form-row">
            <button type="submit">Save</button>
        </div>
    </form>

{% endblock %}
