{% extends "_base.html" %}

{% block title %}Reset Password Request{% endblock %}

{% block content %}
    <h2>Reset Password Request</h2>
    <form method="POST" action="{{ url_for('html.reset_password_request') }}">
        <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-row">
            <button type="submit">Send Password Reset Email</button>
        </div>
    </form>
{% endblock %}
