{% extends "_base.html" %}

{% block title %}Who?{% endblock %}

{% block content %}
    <div class="content-text">
        <h2>Who?</h2>
        <p>My name is Imanuel (<a href="https://github.com/ImanuelBertrand">GitHub</a>) and I like movies.</p>
        <p>I am also bad at keeping tabs on which movies are in the cinemas at any time.</p>
        <p>I know how to code, so <i>naturally</i> I spent a lot of time developing a tool to do that for me instead of
            checking the playtimes every now and then 🤷</p>
        <p></p>
    </div>
{% endblock %}
