{% extends "_base.html" %}

{% block title %}Why?{% endblock %}

{% block content %}
    <div class="content-text">
        <h2>Why?</h2>
        <p>Ever caught yourself thinking, <i>“Wait… that movie is out already? And now it’s gone?”</i></p>
        <p>Same here. That’s why I built this—so I’d never miss a movie I actually wanted to see.</p>
        <p>This tool is <strong>completely free</strong> and exists purely to help movie lovers
            stay on top of upcoming releases. No ads, no tracking, no shady data-selling.</p>
    </div>
{% endblock %}
